name: Docs tracker

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

jobs:
  track-docs-svelte-01:
    runs-on: ubuntu-latest
    name: Checking Docs Svelte 01
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Svelte docs new commits
        uses: AlexxNB/track-commits-to-issue@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: sveltejs
          repo: svelte.dev
          dir: apps/svelte.dev/content/docs/svelte/01-introduction
  track-docs-svelte-02:
    runs-on: ubuntu-latest
    name: Checking Docs Svelte 02
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Svelte docs new commits
        uses: AlexxNB/track-commits-to-issue@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: sveltejs
          repo: svelte.dev
          dir: apps/svelte.dev/content/docs/svelte/02-runes
  track-docs-svelte-03:
    runs-on: ubuntu-latest
    name: Checking Docs Svelte 03
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Svelte docs new commits
        uses: AlexxNB/track-commits-to-issue@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: sveltejs
          repo: svelte.dev
          dir: apps/svelte.dev/content/docs/svelte/03-template-syntax
  track-docs-svelte-04:
    runs-on: ubuntu-latest
    name: Checking Docs Svelte 04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Svelte docs new commits
        uses: AlexxNB/track-commits-to-issue@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: sveltejs
          repo: svelte.dev
          dir: apps/svelte.dev/content/docs/svelte/04-styling
